{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1>{{ program.title }}</h1>
            <h2 class="mt-0">Episode {{ episode.number }} of season {{ season.number }}</h2>
            <p>Title : {{ episode.title }}</p>
            <p>Synopsis : {{ episode.synopsis }}</p>
        </div>
    </div>

    {% if is_granted("ROLE_CONTRIBUTOR") %}
    {{ include('comment/_form.html.twig') }}
    {% endif %}

    <div>
        <h1>Comments</h1>
        {% for comment in comments %}
        <h2>Comment posted by {{ comment.author.email }}</h2>
        <p>{{ comment.comment }}</p>
        {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
            {{ include('comment/_delete_form.html.twig') }} 
        {% endif %}
        {% else %}
        Aucun commentaire posté
        {% endfor %}
    </div>

    <a href="{{ path('program_season_show', { slug: program.slug, season: season.id }) }}">
        Retour à la fiche de la saison
    </a>
{% endblock %}
